{% extends 'index.html' %}

{% load static %} 
{% load filtros %}
{% block 'head' %}


  <link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}"/>

{% endblock %} 

{% block 'body' %}
    <br>
    <div class='container'>
        <form class="form">
            <div class='container'>
                <table>
                    <tr>
                        <th> {% if paciente.foto%}
                        <img width="80px" src="{{paciente.foto.url}}">
                        
                        {%else%}
                            <img width="80px" src="{% static 'plataforma/img/user.png' %}">
                        {% endif%}</th>
                    </tr>
                    <tr>    
                        <th id="foto" width='2px'> Foto</th>
                    </tr>
                    <br>
                    <tr>
                        <th>Nome:</th><th class="font">{{paciente.nome_do_paciente|title}}</th>
                        <th>Gêrador:</th><th class="font">{% if paciente.gerero == 'm' %} 
                                    Masculino
                                    {%else%}
                                    Feminino
                                {%endif%}</th>
                    </tr>
                    <tr>
                        <th>Data de nascimento:</th><th class="font"> {{paciente.data_nascimento}}</th>
                        <th>Idade:</th><th class="font">{{paciente.data_nascimento|idade}}</th> 
                    </tr>
                    <tr>
                        <th>Naturalidade:</th><th class="font">{{paciente.naturalidade}}</th>
                        <th>Estado:</th><th class="font">{{paciente.estado|mostar_estados}}</th>
                        <th>UF:</th><th class='font'>{{paciente.uf|mostar_uf}}</th>
                    </tr>
                    <tr>
                        <th>Cidade:</th><th class="font">Londrina</th>
                        <th>Bairro:</th><th class='font'>{{paciente.bairro}}</th>
                    </tr>
                    <tr>
                        <th>Endereço:</th><th class="font">{{paciente.endereco}}</th>
                    </tr>
                    <tr>
                        <th> CPF:</th><th class="font">{{paciente.cpf}}</th>
                        <th>RG:</th><th class='font'> {{paciente.rg}}</th>
                    </tr>
                    <tr>
                        <th> CNS:</th><th class="font">{{paciente.cns}}</th>
                        <th>CIPAC</th><th class='font'> {{paciente.cipac}}</th>
                        <th> UBS:</th><th class='font'> {{paciente.ubs}}</th>
                    </tr>
                    <div style="max-width: 10px;">
                        <tr>
        
                            <th>Diagnóstico:</th>
                            <samp>{{paciente.diagnotico}}</samp>
                        </tr>
                    </div>
                </table>
            </div>
        </form>
    </div>
{% endblock 'body' %}
